- alias: 'Remote external update Media Center'
  trigger:
    platform: state
    entity_id: remote.media_center
  action:
    - service: input_select.select_option
      data_template:
        entity_id: input_select.remote
        option: >
          {{ states.remote.media_center.attributes.current_activity }}

- alias: 'Remote start activity from input select media center'
  trigger:
    platform: state
    entity_id: input_select.remote
  action:
    - service: script.turn_on
      entity_id: script.input_select_harmony

- alias: 'Update Available Notifications'
  trigger:
    platform: state
    entity_id: updater.updater
  action:
    service: notify.pushbullet
    data:
      title: 'Home Assistant update available'
      message: 'Update for Home Assistant is available.'

- alias: 'Garage temp reached desired temp'
  trigger:
    platform: mqtt
    topic: 'garage/pi/temperature'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.garage_temp_monitor
        state: 'on'
      - condition: template
        value_template: '{{ states.sensor.garage_temperature.state >= states.input_slider.garage_temp_desired.state }}'
  action:
    - service: switch.turn_off
      entity_id: switch.garage_temp_monitor

- alias: 'Notify garage temp monitor turned off'
  trigger:
    platform: state
    entity_id: switch.garage_temp_monitor
    from: 'on'
    to: 'off'
  action:
    service: notify.pushbullet
    data_template:
      title: "Garage Monitor OFF @ {{ states.sensor.garage_temperature.state }}°F"
      message: "Temperature in the garage is currently {{ states.sensor.garage_temperature.state }}°F"

- alias: 'Home Assistant Start'
  trigger:
    platform: homeassistant
    event: start
  action:
    - service: group.set_visibility
      entity_id: group.pi_apple_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_boston_cream_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_cherry_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_derby_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_elderberry_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_grasshopper_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_pi_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_pi_off
      data:
        visible: False

- alias: 'apple is on'
  trigger:
    platform: mqtt
    topic: 'pis/apple/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_apple_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_apple_off
      data:
        visible: False

- alias: 'boston cream is on'
  trigger:
    platform: mqtt
    topic: 'pis/boston-cream/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_boston_cream_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_boston_cream_off
      data:
        visible: False

- alias: 'cherry is on'
  trigger:
    platform: mqtt
    topic: 'pis/cherry/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_cherry_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_cherry_off
      data:
        visible: False

- alias: 'derby is on'
  trigger:
    platform: mqtt
    topic: 'pis/derby/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_derby_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_derby_off
      data:
        visible: False

- alias: 'elderberry is on'
  trigger:
    platform: mqtt
    topic: 'pis/elderberry/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_elderberry_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_elderberry_off
      data:
        visible: False

- alias: 'grasshopper is on'
  trigger:
    platform: mqtt
    topic: 'pis/grasshopper/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_grasshopper_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_grasshopper_off
      data:
        visible: False

- alias: 'pi is on'
  trigger:
    platform: mqtt
    topic: 'pis/pi/last-seen'
  action:
    - service: group.set_visibility
      entity_id: group.pi_pi_on
      data:
        visible: True
    - service: group.set_visibility
      entity_id: group.pi_pi_off
      data:
        visible: False

- alias: 'apple not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.apple_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.apple_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_apple_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_apple_off
      data:
        visible: True

- alias: 'boston cream not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.boston_cream_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.boston_cream_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_boston_cream_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_boston_cream_off
      data:
        visible: True

- alias: 'cherry not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.cherry_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.cherry_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_cherry_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_cherry_off
      data:
        visible: True

- alias: 'derby not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.derby_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.derby_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_derby_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_derby_off
      data:
        visible: True

- alias: 'elderberry not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.elderberry_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.elderberry_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_elderberry_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_elderberry_off
      data:
        visible: True

- alias: 'grasshopper not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.grasshopper_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.grasshopper_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_grasshopper_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_grasshopper_off
      data:
        visible: True

- alias: 'pi not seen'
  trigger:
    platform: time
    minutes: '/2'
    seconds: 00
  condition:
    condition: or
    conditions:
      - condition: template
        value_template: '{{ "unknown" == states.sensor.pi_last_seen.state }}'
      - condition: template
        value_template: '{{ ( as_timestamp( now() ) - as_timestamp( states.sensor.pi_last_seen.state ) ) > 120 }}'
  action:
    - service: group.set_visibility
      entity_id: group.pi_pi_on
      data:
        visible: False
    - service: group.set_visibility
      entity_id: group.pi_pi_off
      data:
        visible: True
