homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  unit_system: imperial
  time_zone: !secret time_zone
  customize: !include customize.yaml
  customize_glob: !include customize-glob.yaml

http:
  api_password: !secret http_password
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  base_url: !secret base_url

recorder:
  db_url: !secret recorder_db_url
  purge_interval: 5
  purge_keep_days: 30
history:
logbook:
map:
tts:
    - platform: google

wemo:
  static:
    - !secret wemo1_ip
    - !secret wemo2_ip
    - !secret wemo3_ip
    - !secret wemo4_ip
    - !secret wemo5_ip

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

device_tracker:
  - platform: automatic
    client_id: !secret automatic_client_id
    secret: !secret automatic_secret
    track_new_devices: yes

remote:
  - platform: harmony
    name: Media Center
    host: !secret harmony_ip

wink:

ifttt:
  key: !secret ifttt_key

input_number:
  garage_temp_desired:
    name: Garage Target
    initial: 60
    min: 40
    max: 80
    step: 1
    mode: slider
    icon: mdi:target

frontend:
updater:
discovery:
conversation:
config:
sun:
alexa:
ios:
emulated_hue:

mqtt:
  broker: core-mosquitto

sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
input_select: !include input_select.yaml
script: !include scripts.yaml
automation: !include automations.yaml
group: !include groups.yaml
switch: !include switches.yaml

lutron_caseta:
  host: !secret lutron_hub_ip
  keyfile: caseta.key
  certfile: caseta.crt
  ca_certs: caseta-bridge.crt

light:
  - platform: decora_wifi
    username: !secret leviton_username
    password: !secret leviton_password
