homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  unit_system: imperial
  time_zone: !secret time_zone
  customize: !include customize.yaml
  customize_glob: !include customize-glob.yaml

http:
  api_password: !secret http_password
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  base_url: !secret base_url

recorder:
  db_url: !secret recorder_db_url
  purge_interval: 5
  purge_keep_days: 30
history:
logbook:

wemo:
  static:
    - 192.168.2.107
    - 192.168.2.209
    - 192.168.2.202
    - 192.168.2.131
    - 192.168.2.204

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

device_tracker:
  - platform: automatic
    client_id: !secret automatic_client_id
    secret: !secret automatic_secret
    track_new_devices: no
  - platform: asuswrt
    host: !secret router_ip
    username: !secret router_username
    password: !secret router_password
    protocol: telnet
    consider_home: 300
    interval_seconds: 30

remote:
  - platform: harmony
    name: Media Center
    host: 192.168.2.207

wink:

ifttt:
  key: !secret ifttt_key

input_number:
  garage_temp_desired:
    name: Garage Target
    initial: 60
    min: 40
    max: 80
    step: 1
    mode: slider
    icon: mdi:target

cover:
  - platform: myq
    username: !secret myq_email
    password: !secret myq_password
    type: chamberlain

#apple_tv:
# - host: !secret living_apple_tv_host
#    name: Living Room Apple TV
#    login_id: !secret living_apple_tv_login
#  - host: !secret office_apple_tv_host
#    name: Office Apple TV
#    login_id: !secret office_apple_tv_login

frontend:
updater:
conversation:
config:
sun:
alexa:
ios:
emulated_hue:
  host_ip: !secret ha_ip

mqtt:
  broker: !secret ha_ip

sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
input_select: !include input_select.yaml
script: !include scripts.yaml
automation: !include automation.yaml
group: !include groups.yaml
switch: !include switches.yaml

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01

lutron_caseta:
  host: !secret lutron_hub_ip
  keyfile: caseta.key
  certfile: caseta.crt
  ca_certs: caseta-bridge.crt
