homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  unit_system: imperial
  time_zone: !secret time_zone
  customize: !include customize.yaml
  customize_glob: !include customize-glob.yaml

http:
  api_password: !secret http_password
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  base_url: !secret base_url

recorder:
  db_url: !secret recorder_db_url
  purge_days: 30
history:
logbook:

wemo:
  static:
    - 192.168.2.107
    - 192.168.2.209
    - 192.168.2.202
    - 192.168.2.131
    - 192.168.2.204

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

device_tracker:
  - platform: automatic
    client_id: !secret automatic_client_id
    secret: !secret automatic_secret
    username: !secret automatic_username
    password: !secret automatic_password
    track_new_devices: no
  - platform: asuswrt
    host: !secret router_ip
    username: !secret router_username
    password: !secret router_password
    protocol: telnet
    consider_home: 300
    interval_seconds: 30

remote:
  - platform: harmony
    name: Media Center
    host: 192.168.2.207

wink:
  email: !secret wink_email
  password: !secret wink_password

ifttt:
  key: !secret ifttt_key

input_slider:
  garage_temp_desired:
    name: Desired Temperature
    initial: 50
    min: 40
    max: 60
    step: 1
    icon: mdi:target

cover:
  - platform: myq
    username: !secret myq_email
    password: !secret myq_password
    type: chamberlain

media_player:
  - platform: apple_tv
    name: Living Room Apple TV
    host: !secret living_apple_tv_host
    login_id: !secret living_apple_tv_login
  - platform: apple_tv
    name: Office Apple TV
    host: !secret office_apple_tv_host
    login_id: !secret office_apple_tv_login

frontend:
updater:
conversation:
config:
sun:
alexa:
ios:
emulated_hue:

mqtt:
  broker: !secret mqtt_broker

sensor: !include sensors.yaml
input_select: !include input_select.yaml
script: !include scripts.yaml
automation: !include automation.yaml
group: !include groups.yaml
switch: !include switches.yaml

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01
