homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation
  unit_system: imperial
  time_zone: !secret time_zone
  customize: !include customize.yaml
  customize_glob: !include customize-glob.yaml

sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
automation: !include automation.yaml
group: !include groups.yaml
switch: !include switches.yaml
frontend:
  themes: !include themes.yaml

http:
  api_password: !secret http_password
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  base_url: !secret base_url
  trusted_networks:
    - 127.0.0.1
    - 192.168.0.0/24
  ip_ban_enabled: True
  login_attempts_threshold: 5

history:
logbook:
map:
updater:
discovery:
conversation:
config:
sun:
alexa:
ios:
emulated_hue:
wink:

recorder:
  db_url: !secret recorder_db_url
  purge_interval: 5
  purge_keep_days: 30

mqtt:
  broker: core-mosquitto

mqtt_statestream:
  base_topic: ha
  include:
    entities:
      - input_number.garage_target
      - sensor.dark_sky_temperature
      - sensor.dark_sky_humidity

device_tracker:
  - platform: automatic
    client_id: !secret automatic_client_id
    secret: !secret automatic_secret
    track_new_devices: yes
    current_location: true

remote:
  - platform: harmony
    name: TV
    host: !secret harmony_ip
    activity: TV

lutron_caseta:
  host: !secret lutron_hub_ip
  keyfile: caseta.key
  certfile: caseta.crt
  ca_certs: caseta-bridge.crt

light:
  - platform: decora_wifi
    username: !secret leviton_username
    password: !secret leviton_password

wemo:
  static:
    - !secret wemo1_ip
    - !secret wemo2_ip
    - !secret wemo3_ip
    - !secret wemo4_ip
    - !secret wemo5_ip

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

august:
  login_method: email
  username: !secret august_login
  password: !secret august_password

input_number:
  garage_target:
    name: Garage Target
    initial: 64
    min: 40
    max: 80
    step: 1
    mode: slider
    icon: mdi:target
